<app-spinner-bootstrap ></app-spinner-bootstrap>
<div class="container-md-12">
    
    <form #myForm="ngForm" (ngSubmit)="edit(myForm)" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
        <div class="form-group">
          <label for="brand">Brand</label>
          <input
           type="text"
            class="form-control"
             id="brand"
              name="brand"
              [(ngModel)]="brandValue"
              ngModel
              #brand="ngModel"
              required>

              <small *ngIf="
              brand.errors &&
              brand.errors['required'] &&
              brand.touched">
              Brand is required
            </small>

        </div>
    </div>
    </div>

    <div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
          <label for="model">Model</label>
          <input type="text"
           class="form-control"
            id="model"
             name="model"
             [(ngModel)]="modelValue"
             ngModel
             #model="ngModel"
             required>

             <small *ngIf="
             model.errors &&
             model.errors['required'] &&
             model.touched">
             Model is required
           </small>

        </div>
    </div>
</div>
        
<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
          <label for="image">Image Link</label>
          <input 
          type="text"
           class="form-control"
            id="image"
             name="image"
             [(ngModel)]="imageValue"
             ngModel
             #image="ngModel"
             required>

             <small *ngIf="
             image.errors &&
             image.errors['required'] &&
             image.touched">
             Image is required
           </small>

        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
          <label for="battery">Battery</label>
          <input 
          type="text"
           class="form-control"
            id="battery"
             name="battery"
             [(ngModel)]="batteryValue"
             ngModel
             #battery="ngModel"
             required>

             <small *ngIf="
             battery.errors &&
             battery.errors['required'] &&
             battery.touched">
             Battery is required
           </small>

        </div>
    </div>
</div>

<div class="row mb-3">
<div class="col-md-6">
    <div class="form-group">
        <label for="mechanism">Mechanism</label>
        <select 
        class="form-select"
         name="mechanism"
          id="mechanism"
          [(ngModel)]="mechanismValue"
          ngModel
          #mechanism="ngModel"
          required>
            <option value="" disabled selected></option>
            <option value="mechanical">mechanical</option>
            <option value="automatic">automatic</option>
            <option value="quartz">quartz</option>
        </select>

        <small *ngIf="
        mechanism.errors &&
        mechanism.errors['required'] &&
        mechanism.touched">
        Mechanism is required
      </small>

    </div>
</div>
</div>

    
<app-toast></app-toast> 
    
 
<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
          <label for="price">Price</label>
          <input 
          type="number"
           class="form-control"
            id="price"
             name="price"
             [(ngModel)]="priceValue"
             ngModel
             #price="ngModel"
             required>

             <small *ngIf="
             price.errors &&
             price.errors['required'] &&
             price.touched">
             Price is required
           </small>

        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
          <label for="strap">Strap</label>
          <input
           type="text"
            class="form-control"
             id="strap"
              name="strap"
              [(ngModel)]="strapValue"
              ngModel
              #strap="ngModel"
              required>

              <small *ngIf="
              strap.errors &&
              strap.errors['required'] &&
              strap.touched">
              Strap is required
            </small>

        </div>
    </div>
</div>
        
<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
          <label for="glass">Glass</label>
          <input
           type="text"
            class="form-control"
             id="glass"
              name="glass"
              [(ngModel)]="glassValue"
              ngModel
              #glass="ngModel"
              required>

              <small *ngIf="
              glass.errors &&
              glass.errors['required'] &&
              glass.touched">
              Glass is required
            </small>

        </div>
    </div>
</div>
  
<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
          <label for="waterResistance">Water Resistance</label>
          <input
           type="text"
            class="form-control"
             id="waterResistance"
              name="waterResistance"
              [(ngModel)]="waterResistanceValue"
              ngModel
              #waterResistance="ngModel"
              required>

              <small *ngIf="
              waterResistance.errors &&
              waterResistance.errors['required'] &&
              waterResistance.touched">
              Water Resistance is required
            </small>

        </div>
    </div>
</div>


<button class="btn btn-success">Edit</button>

    
    
      </form>
       
</div>
