.container-fluid {
    min-height: 600px;
   
    .row {
         .empty-cart {
            text-align: center;
            padding: 20px;
         }
        table {
           
            
              tr {
               
                th,td {
                    color: #fff !important;
                  }
              }
        }
    }
}