
<div class="container-fluid bg-dark text-light d-flex justify-content-center">
    <div class="row">

        <div class="col-md-12">
            <form method="post">
                <label for="subscriptionEmail" class="col-form-label">Email:</label>
                <input class="form-control" type="email" name="subscriptionEmail" id="subscriptionEmail" email>
                <div class="text-light form-text">Subscribe for our newsletter</div>
                <button class="btn btn-primary">Subscribe</button>
            </form>
            <p>All Rights Reserved</p>
            <p>CompanyName &copy; 2023</p>
        </div>
    </div>
</div>
