.container-fluid {
    height: 300px;
    .row {
        .col-md-12 {
            p {
                margin: 5px 0;
                letter-spacing: 2px;
            }
            form {
                label {
                    margin: 6px 0px;
                }
                button {
                    margin: 8px 0px;
                }
            }
        }
    }
}