<div class="container">
    <form>
       <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control " name="email" id="email" required>
        </div>
       </div>

       <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" name="password" id="password" required>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="repeatPassword" class="col-sm-2 col-form-label">Repeat Password</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" name="repeatPassword" id="repeatPassword" required>
        </div>
      </div>

      <div class="mb-3 row">
        <button type="submit" class="btn btn-primary col-sm-2">Register</button>
      </div>

    </form>
</div>
