<div *ngIf="watch" class="container-fluid">

    <div class="row">
        
            <div class="card mb-3 bg-dark text-light">
                <img [src]="watch.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Brand: {{watch.brand}}</h5>
                  <p class="card-text">Model: {{watch.model}}</p>
                  <p class="card-text">Battery: {{watch.battery}}</p>
                  <p class="card-text">Mechanism: {{watch.mechanism}}</p>
                  <p class="card-text">Price: {{watch.price}}</p>
                  <p class="card-text">Quantity: {{watch.quantity}}</p>

                  <div class="owner-btns">
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                  </div>

                  <div class="user-btns">
                    <button class="btn btn-primary">Buy</button>
                  </div>
                </div>
              
        </div>
    </div>
</div>
