<div *ngIf="watch" class="container-fluid">

    <div class="row">
        
            <div class="card mb-3 bg-dark text-light">
                <img [src]="watch.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Brand: {{watch.brand}}</h5>
                  <p class="card-text">Model: {{watch.model}}</p>
                  <p class="card-text">Battery: {{watch.battery}}</p>
                  <p class="card-text">Mechanism: {{watch.mechanism}}</p>
                  <p class="card-text">Price: {{watch.price}}</p>
                  <p class="card-text">Quantity: {{watch.quantity}}</p>
                  <p *ngIf="(!isLogged && !isAdmin)" class="card-text">You must be logged in to buy</p>

                  <div *ngIf="isAdmin" class="owner-btns">
                    <a class="btn btn-primary">Edit</a>
                    <a (click)="deleteOne()" class="btn btn-danger">Delete</a>
                  </div>

                  <div *ngIf="(isLogged && !isAdmin)" class="user-btns">
                    <a class="btn btn-primary">Add To Cart</a>
                  </div>
                </div>
              
        </div>
    </div>
</div>
