.container-fluid {
   
    .row {
        background-color: grey;
        text-align: center;
        .location {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            iframe {
                width: 80%;
                height: 500px;
                filter: invert(100%);
            }
        }
        .col-md-4 {
            margin-bottom: 10px;
            fa-icon {
                font-size: 30px;
                margin-right: 5px;
            }
            span {
                font-size: 20px;
                color: #fff;
            }
        }
    }
}