<div class="container-fluid">

    <div class="row">
        <h2 class="text-light">Our Location</h2>
        <div class="col-md-12 location">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11743.979157381971!2d25.374830250060413!3d42.61906650953431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a85581c598de43%3A0x1d21c72b69a82965!2z0KbQtdC90YLRitGAINCa0LDQt9Cw0L3Qu9GK0Lo!5e0!3m2!1sbg!2sbg!4v1689675484767!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="row contact-details">
        <h2 class="text-light">Contact Details</h2>
        <div class="col-md-4 ">
            <fa-icon [icon]="faPhoneAlt"></fa-icon>
            <span> + 359 123 456 789</span>
        </div>

        <div class="col-md-4">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <span>myWatchShop1234@gmail.com</span>
        </div>

        <div class="col-md-4">
            <fa-icon [icon]="faBookmark"></fa-icon>
            <span>str: my street №3,Kazanlak,Bulgaria</span>
        </div>
    </div>

</div>
